p{text-align: center;
     margin-right: 10px
}
body{
    background-color: RGB(245,245,245);
}
h1 {
    color: black;
    text-align: center
}

th, td {
    padding: 15px;
    text-align: left;
    
}

td {
    height: 50px;
    vertical-align: bottom;
}
/* nth-child(1) = the first td in each tr */
td:nth-child(1) {
  width: 500px;
  background: #ddd;
  }

 table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }